DB_IP="<your database server IP address>"
DB_USERNAME="<your server username>"
DB_PASSWORD="<your server password>"


DB_IP="<your database server IP address>"
SSL_USERNAME="<your server username>"
SSL_PASSWORD="<your server password>"

DB_HOST="localhost"
DB_PORT="<your port>"
DB_NAME="<your database name>"
DB_USERNAME="<your database username>"
DB_PASSWORD="<your database password>"
