IS_SSH="<wanted ('true' or 'false')>"
DB_IP="<your database server IP address>"
SSH_USERNAME="<your server username>"
SSH_PASSWORD="<your server password>"

DB_HOST="localhost"
DB_PORT="<your port>"
DB_NAME="<your database name>"
DB_USERNAME="<your database username>"
DB_PASSWORD="<your database password>"
SGBD="<your database SGBD>"

AUTH_PASSWORD="<your auth password>"
AUTH_EXPIRATION_TIME="<your auth expiration time>"

SSL_PASSWORD="<your ssl password (HTTPS)>"

VITE_AUTH_MODE=localcd
VITE_API_URL=<IP back>
