BACKEND_PORT=<your backend port>
ENCRYPTION_PASSWORD="<password>"
ENCRYPTION_SALT="<salt>"

IS_SSH="<wanted ('true' or 'false')>"
DB_IP="<your database server IP address>"
SSH_USERNAME="<your server username>"
SSH_PASSWORD="<your server password>"

DB_HOST="localhost"
DB_PORT="<your port>"
DB_NAME="<your database name>"
DB_USERNAME="<your database username>"
DB_PASSWORD="<your database password>"
SGBD="<your database DBMS>"

AUTH_PASSWORD="<your auth password>"
AUTH_EXPIRATION_TIME="<your auth expiration time>"

SSL_PASSWORD="<your ssl password (HTTPS)>"

AUTH_MODE=<profile mode>

CAS_URL=<your cas url>
BACKEND_URL=<your backend url>
FRONTEND_URL=<your frontend url>

INITIAL_IDENTIFIER=<your initial identifier>
